.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;
    
    display: grid; 
    grid-template-columns: 1fr 1fr; /* 2 colunas com o tamanho igual */
    gap: 6.25rem; /* 6.25rem * 16px = 100px - do desktop e ele vai diminuindo conforme mude p/ tela menor */
    align-content: center; /* todo conteúdo do grid seja alinhado ao centro verticalmente */
}